# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Gnuplot files
*.plot

# Vscode files and folders
.vscode
ising.code-workspace

# Output gifs
*.gif

# Folders
/info
/ordenado
/test
/graficas gnuplot y codigo antiguo
/aleatorio